







/*tablet md*/
@media screen and (min-width: 768px){
    
    
    
    
    #cajaContacto{
        display: flex;
        margin-top: 20px;
    }
    .navbar2{
        width: 10%;
        margin-top: 0;
    }
    .navbar2 ul{
        list-style-type: none;
        display: inline;
        padding: 0;
    }
    .contacto{
        width: 43%;
        margin: 0;
    }
    .redes{
        width: 25%;
        margin-top: 0;
    }
    #cajaContacto .navbar2 h2,
    .contacto h2,
    .redes h2{
        font-size: 1.2em;
    } 
    #cajaContacto .navbar2 a,
    .contacto a,
    .contacto p,
    .redes p{
        font-size: medium;
    }
}

/*pc lg*/
@media screen and (min-width: 992px){
    
    
    
    
    #cajaContacto .navbar2 h2,
    .contacto h2,
    .redes h2{
        font-size: 1.5em;
    } 
    #cajaContacto .navbar2 a,
    .contacto a,
    .contacto p,
    .redes p{
        font-size: medium;
    }
}

 



