/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rufina', serif;
azul oscuro #023859
azul claro #2983a6
amarillo #c6d936
verde #97a629
blanco #f2f2f2
*/

*{
    margin: 0;
    border: 0;
}

/*index*/

    header{
        height: 550px;
        width: 92%;
        margin: 0 4%;
        background-image: url(../imgs/exoticas.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .navbar{
        position: relative;
    }
    
    .nav-item a{
        text-align: center;
        color: #c6d936;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;
        font-size: larger;
    }
    .nav-item a :hover{
        color: #2983a6;
    }
    .txt h1{
        width: 30%;
        padding: 250px 100px 0;
        display: inline-block;
        position: relative;
        color:#c6d936;
        font-family: 'Raleway', sans-serif;
        font-size: 62px;
        text-align: left;
    }
    .txt a{
        width: 50%;
        padding: 350px 100px 0;
        float: right;
        position: relative;
        color:#c6d936;
        font-family: 'Raleway', sans-serif;
        font-weight: bolder;
        font-size: 22px;
        text-align: right;
    }
    
    #grillaPrincipal{
        display: grid;
        width: 92%;
        margin: 20px 4%;
        height: 1400px;
        grid-template-columns: 100%;
        grid-template-rows: 650px 750px /*500px*/ 200px;
        grid-template-areas: "proyectos"
                             "galeria"/*
                             "blog"*/
                             "footer";
    }
    .proyectos{
        grid-area: proyectos;
        background-color: #2983a6;
    }
    .grillaSub1{
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        margin: 30px;
    }
    .card{
        width: 280px;
        height: 585px;
    }
    .card-body{
        background-color: #023859;
        font-family: 'Raleway', sans-serif;
        color: #f2f2f2;
        text-align: left;
        padding: 10px;
    }
    .card img{
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center;
    }
    
    .galeria{
        grid-area: galeria;
        margin-top: 20px;
        background-color: #c6d936;
    }
    .grillaSub2{
        display: grid;
        height: 750px;
        margin: 30px 50px;
        grid-template-columns: 24% 24% 24% 24%;
        grid-template-rows: 210px 210px 210px;
        grid-template-areas: "foto1 foto1 foto2 foto3"
                             "foto1 foto1 foto4 foto4"
                             "foto5 foto6 foto4 foto4";
        row-gap: 20px;
        column-gap: 20px;
        justify-content: space-around;
    }
    .cuadro1{
        grid-area: foto1;
        background-image: url(../imgs/foto1.jpeg);
    }
    .cuadro2{
        grid-area: foto2;
        background-image: url(../imgs/foto2.jpeg);
    }
    .cuadro3{
        grid-area: foto3;
        background-image: url(../imgs/foto3.jpeg);
    }
    .cuadro4{
        grid-area: foto4;
        background-image: url(../imgs/foto4.jpeg);
    }
    .cuadro5{
        grid-area: foto5;
        background-image: url(../imgs/foto5.jpeg);
    }
    .cuadro6{
        grid-area: foto6;
        background-image: url(../imgs/foto6.jpeg);
    }
    .cuadro1, .cuadro2, .cuadro3, .cuadro4, .cuadro5, .cuadro6{
        background-size: cover;
    }

    footer{
        grid-area: footer;
        margin-top: 20px;
        background-image: linear-gradient(to bottom, #023859 , #2983a6);
    }
    .contacto{
        width: 300px;
        height: 150px;
        margin: 20px 70px;
    }
    .contacto h2, a, p{
        font-family: 'Montserrat', sans-serif;
        color: #f2f2f2;
        padding: 10px;
        text-align: left;
    }


/*cabecera hojas*/
    #header2{
        height: 120px;
        width: 92%;
        margin: auto;
        background-image: none;
        background-color: #2983a6bb;
    }

 

/*proyectos*/
    

/*galeria*/
    #fotos{
        width: 90%;
        margin: 20px 4%;
        display: grid;
        grid-template-areas: "foto1 foto2"
                            "foto3 foto7"
                            "foto4 foto7"
                            "foto5 foto6";
        grid-template-columns: 50% 50%;
        grid-template-rows: 400px 400px 400px 400px;
        row-gap: 20px;
        column-gap: 24px;
        justify-items: stretch;
        align-items: stretch;
    }
    .foto1{
        grid-area: foto1;
    }
    .foto2{
        grid-area: foto2;
    }
    .foto3{
        grid-area: foto3;
    }
    .foto4{
        grid-area: foto4;
    }
    .foto5{
        grid-area: foto5;
    }
    .foto6{
        grid-area: foto6;
    }
    .foto7{
        grid-area: foto7;
    }


/*blog*/
 


/*contacto*/
    #cont{
        background-color: #2983a6;
        height: 350px;
        margin: 10px 30px;
        padding: 20px 30px;
        color: #023859;
        font-family: 'Lato', sans-serif;
        font-size: larger;
        line-height: 24px;
        position: absolute;
    }
    #cont .titulo{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        text-decoration: underline;
    }
