#header2 {
  height: 80px;
  background-image: none;
  width: 90%;
  margin: auto; }
  #header2 .navbar {
    position: relative;
    z-index: 50;
    height: 50px; }
    #header2 .navbar img {
      z-index: 55;
      height: 50px; }
  #header2 .nav-item a {
    margin-right: 10px;
    text-decoration: none;
    font-weight: bolder;
    font-size: small;
    font-family: "Raleway", sans-serif;
    color: #c6d936;
    text-align: right; }

#blog {
  width: 90%;
  height: auto;
  margin: auto;
  background-color: #2983a6;
  padding: 10px; }
  #blog h2 {
    font-family: "Montserrat", sans-serif;
    color: #023859;
    text-align: center;
    font-weight: bolder; }
  #blog h5 {
    font-family: "Raleway", sans-serif;
    color: #c6d936;
    text-align: center;
    font-size: small; }
  #blog .entrada {
    width: 100%;
    margin: auto;
    font-family: "Raleway", sans-serif;
    color: #f2f2f2;
    text-align: justify;
    padding: 20px; }
    #blog .entrada img {
      width: 100%;
      margin: 20px auto; }

.nosotros {
  width: 90%;
  margin: 40px auto;
  font-family: "Raleway", sans-serif;
  color: #f2f2f2;
  text-align: justify; }
  .nosotros strong {
    color: #c6d936; }

footer {
  margin: 20px 0 30px; }
  footer .navbar2 {
    width: 90%;
    margin: 10px auto;
    font-family: "Montserrat", sans-serif; }
    footer .navbar2 ul {
      list-style-type: none;
      display: flex;
      padding: 0; }
    footer .navbar2 a {
      text-decoration: none;
      font-size: medium;
      padding-right: 10px;
      font-family: "Montserrat", sans-serif;
      color: #f2f2f2;
      text-align: left; }
  footer .contacto {
    width: 90%;
    margin: 10px auto;
    font-family: "Montserrat", sans-serif;
    text-align: justify; }
  footer .redes {
    width: 90%;
    margin: 10px auto;
    font-family: "Montserrat", sans-serif; }
  footer h2 {
    color: #c6d936;
    font-size: 1em; }
  footer a,
  footer p {
    color: #f2f2f2;
    text-decoration: none;
    font-size: small; }

@media screen and (min-width: 768px) {
  #header2 {
    height: 90px; }
    #header2 .navbar img {
      height: 70px;
      margin: 10px 1em; }
    #header2 .offcanvas {
      width: 200px; }
    #header2 .nav-item a {
      font-size: medium; }
  #blog {
    margin-top: 20px; }
    #blog h5 {
      font-size: medium; }
  #cajaContacto {
    display: flex;
    margin-top: 20px; }
    #cajaContacto .navbar2 {
      width: 10%;
      margin-top: 0; }
      #cajaContacto .navbar2 ul {
        list-style-type: none;
        display: inline;
        padding: 0; }
    #cajaContacto .contacto {
      width: 43%;
      margin: 0; }
    #cajaContacto .redes {
      width: 25%;
      margin-top: 0; }
    #cajaContacto h2 {
      font-size: 1.2em; }
    #cajaContacto a,
    #cajaContacto p {
      font-size: medium; } }

@media screen and (min-width: 992px) {
  #header2 {
    height: 100px;
    margin-top: 40px; }
    #header2 .navbar img {
      height: 95px;
      margin: 20px 1em; }
    #header2 .offcanvas {
      width: 350px; }
    #header2 .nav-item a {
      font-size: larger; }
  #blog {
    margin-top: 10px; }
    #blog .entrada img {
      width: 60%;
      margin: 20px 20%; }
  #cajaContacto h2 {
    font-size: 1.5em; }
  #cajaContacto a,
  #cajaContacto p {
    font-size: medium; } }
