
@import "_variables.scss";

*{
    margin: 0;
    border: 0;
}

@mixin texto ($fuente, $color, $alineación){
    font-family: $fuente;
    color: $color;
    text-align: $alineación;
}
@mixin width90 ($width90, $marginAuto){
    width: $width90;
    margin: $marginAuto;
}
@mixin width92 ($width92, $marginAuto){
    width: $width90;
    margin: $marginAuto;
}


/*mobile-first
index header*/
    header{
        height: 250px;
        @include width92 ($width92, $marginAuto);

        .cabecera{
            height: 250px;
            @include width92 ($width92, $marginAuto);
            position: absolute;
            background-image: url(../imgs/proyectos/exoticas.jpeg);
            background-size: cover;
            background-position: center;
        }
        .cabeceraTexto{
            height: 50px;
            width: 100%;
            padding: 10px;
            margin-top: 200px;
            background-color: #023859b9; /*color con transparencia*/
            @include texto ($fuente1, $amarillo, center);
            line-height: 0em;

            h1{
                font-size: 1em;
            }
            a{
                font-size: .7em;
                text-decoration: none;
                color: $blanco;
            }
        }

        .navbar{
            position: relative;
            z-index: 50;
            height: 50px;

            img{
                z-index: 55;
                height: 50px;
            }
            li{
                :hover{
                    color: $azulClaro;
                }
            }
            a{
                @include texto ($fuente2, $amarillo, right);
                margin-right: 10px;
                text-decoration: none;
                font-weight: bolder;
                font-size: small;
            }
            
        }

        .titulo{
            background-color: $azulOscuro;
            width: $width95;
            height: 50px;
            margin: 20px auto;
            @include texto ($fuente1, $amarillo, center);
            font-weight: bolder;
            padding: 10px;
            letter-spacing: .3em;

            a{
                text-decoration: none;
                color: $blanco;
            }
        }
    }

/*header hojas*/
    #header2{
        height: 80px;
        background-image: none;
        @include width90 ($width90, $marginAuto);

        .navbar{
            position: relative;
            z-index: 50;
            height: 50px;
            li{
                :hover{
                    color: $azulClaro;
                }
            }
            img{
                z-index: 55;
                height: 50px;
            }
        }
        .nav-item a{
            margin-right: 10px;
            text-decoration: none;
            font-weight: bolder;
            font-size: small;
            @include texto ($fuente2, $amarillo, right);
        }

    }

    main{
        #grillaPrincipal{
            display: grid;
            width: $width92;
            margin: 20px auto;
            height: auto;
            grid-template-columns: 100%;
            grid-template-areas: "proyectos"
                                 "galeria"
                                 "blog";
            .proyectos{
            grid-area: proyectos;
            background-color: $azulClaro;

                .titulo h2{
                    color: $amarillo;
                    text-align: center;
                    padding-top: .5em;
                }
                .titulo a{
                    text-decoration: none;
                }
                .card{
                    border: none;
                    height: auto; 
                    margin-bottom: 1em;

                    img{
                        height: 200px;
                    }
                }
                .card-body{
                    background-color: $azulOscuro;
                    @include texto ($fuente2, $blanco, left);
                    padding: 1em; 
                    font-size: smaller;

                    .btn{
                        background-color: $azulClaro; 
                        border: none;
                    }
                    h5{
                        font-size: medium;
                    }
                }
            }
            .galeria{
                grid-area: galeria;
                margin-top: 20px;
                background-color: $amarillo;
        
                .grillaSub2{
                    display: grid;
                    height: 470px;
                    margin: 10px auto;
                    grid-template-columns: 45% 45%;
                    grid-template-rows: 150px 150px 150px;
                    grid-template-areas: "foto1 foto2"
                                         "foto3 foto4"
                                         "foto5 foto6";
                    row-gap: 2%;
                    justify-content: space-around;
                    .cuadro1{
                        grid-area: foto1;
                        background-image: url(../imgs/galeria/foto1.jpeg);
                    }
                    .cuadro2{
                        grid-area: foto2;
                        background-image: url(../imgs/galeria/foto2.jpeg);
                    }
                    .cuadro3{
                        grid-area: foto3;
                        background-image: url(../imgs/galeria/foto3.jpeg);
                    }
                    .cuadro4{
                        grid-area: foto4;
                        background-image: url(../imgs/galeria/foto4.jpeg);
                    }
                    .cuadro5{
                        grid-area: foto5;
                        background-image: url(../imgs/galeria/foto5.jpeg);
                    }
                    .cuadro6{
                        grid-area: foto6;
                        background-image: url(../imgs/galeria/foto6.jpeg);
                    }
                    .cuadro1, .cuadro2, .cuadro3, .cuadro4, .cuadro5, .cuadro6{
                        background-size: cover;
                        background-position: center;
                    }
                }
                .titulo h2{
                    color: $azulOscuro;
                    text-align: center;
                    padding-top: .5em;
                }
                .titulo a{
                    text-decoration: none;
                }
            }
            .blog{
                grid-area: blog;
                margin-top: 20px;
                
            }
        }
    }

/*hoja proyectos*/
    .intro{
        @include width90 ($width90, $marginAuto);
        h1{
            @include texto ($fuente2, $amarillo, left);
            font-size: medium;
        }
        p{
            @include texto ($fuente1, $blanco, justify);
            line-height: 1.2em;
            font-size: small;
        }
    }

/*hoja galería*/
    #fotos{
        @include width90 ($width90, $marginAuto);
        display: grid;
        grid-template-areas:"foto1 foto2"
                            "foto3 foto7"
                            "foto4 foto7"
                            "foto5 foto6";
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 200px 200px 200px;
        row-gap: .5rem;
        column-gap: .5rem;
        justify-items: stretch;
        align-items: stretch;
        overflow-x: hidden;
        .foto1{
        grid-area: foto1;
        }
        .foto2{
            grid-area: foto2;
        }
        .foto3{
            grid-area: foto3;
        }
        .foto4{
            grid-area: foto4;
        }
        .foto5{
            grid-area: foto5;
        }
        .foto6{
            grid-area: foto6;
        }
        .foto7{
            grid-area: foto7;
        } 
    }
    

/*hoja blog*/
    #blog{
        @include width90 ($width90, $marginAuto);
        height: auto;
        background-color: $azulClaro;
        padding: 10px;

        h2{
            @include texto ($fuente1,$azulOscuro,center);
            font-weight: bolder;
        }
        h5{
            @include texto ($fuente2,$amarillo,center);
            font-size: small;
        }
        .entrada{
            width: 100%;
            margin: $marginAuto;
            @include texto ($fuente2, $blanco, justify);
            padding: 20px;

            img{
                width: 100%;
                margin: 20px auto;
            }
        }
    }

/*hoja contacto*/
    .nosotros{
        width: 85%;
        margin: 20px auto;
        @include texto($fuente2, $blanco, justify);

        strong{
            color: $amarillo;
        }
    }

/*footer*/
    footer{
        margin: 10px 10px 0;

        .navbar2{
            width: 100%;
            margin: $marginAuto;

            ul{
                list-style-type: none;
                display: flex;
                padding: 0 5px;
                justify-content: space-evenly;
            }
            li{
                :hover{
                    color: $azulClaro;
                }
            }
            a{
                text-decoration: none;
                padding-right: 10px;
                @include texto ($fuente1, $amarillo, left);
            }
            
        }
        #cajaContacto{
            width: 100%;
            margin: $marginAuto;
            display: flex;

            .datosContacto{
                width: 50%;
                @include texto ($fuente1, $blanco, left);
                font-size: .8rem;
                padding: 10px 0 0 10px;
                line-height: .2em;
            }
            .redes{
                width: 60%;
                @include texto ($fuente1, $amarillo, right);
                padding: 10px 20px 0;
                h2{
                    font-size: 1rem;
                }
                svg{
                    color: $blanco;
                    margin-left: 10px;
                    :hover{
                        color: $azulClaro;
                    }
                }
            }
        }
        #baseFooter{
            display: flex;
            .logoBajo{
                width: 250px;
                height: 55px;
                margin: 10px 10px 30px;
                background-image: url(../imgs/logoFes4.png);
                background-size: contain;
                background-repeat: no-repeat;
            }
            .copyRight{
                width: 70%;
                @include texto ($fuente1, $blanco, right);
                font-size: .8rem;
                padding: 20px;
            }
        } 
    }   


/*tablet md*/
    @media screen and (min-width: 768px){
        header{
            height: 400px;

            .cabecera{
                height: 400px;
            }
            .cabeceraTexto{
                height: 70px;
                margin-top: 330px;
                line-height: 0.5em;

                h2{
                    font-size: 1.5em;
                }
                a{
                    font-size: 1em;
                }
            }
            .navbar img{
                height: 70px;
                margin: 10px 1em
            }
            .offcanvas{
                width: 200px;
            }
            .nav-item a{
                font-size: medium;
            }
        }

        #header2{
            height: 90px;

            .navbar img{
                height: 70px;
                margin: 10px 1em
            }
            .offcanvas{
                width: 200px;
            }
            .nav-item a{
                font-size: medium;
            }
        }
        
        main{
            #grillaPrincipal{ 
                .proyectos .card{
                    height: 400px;
                    margin-bottom: 10px;
                    img{
                        height: 160px;
                    }
                    a{
                        margin-bottom: 0;
                    }
                } 
                .galeria{
                    .grillaSub2{
                        height: 640px;
                        grid-template-columns: 22% 22% 22% 22%;
                        grid-template-rows: 200px 200px 200px;
                        grid-template-areas: "foto1 foto1 foto2 foto3"
                                             "foto1 foto1 foto4 foto4"
                                             "foto5 foto6 foto4 foto4";
                        column-gap: 1%;
                    }
                }
            }
            
        }
        .intro{
            margin-top: 30px;
        }
        #proyectoInicial{
            margin-top: 30px;
            
            .card-body{
                height: 360px;
                img{
                    float: left;
                }
                p{
                    padding-left: 330px;
                }
            }
        }
        #proyectosSecundarios{
            @include width90 ($width90, $marginAuto);
            .card-body{
                height: 380px;
            }
        }
        #fotos{
            margin: 40px 4%;
            grid-template-rows: 300px 300px 300px 300px;
            row-gap: 20px;
            column-gap: 24px;
        }
        #blog{
            margin-top: 20px;
            h5{
                font-size: medium;
            }
        }
        .nosotros{
            margin-top: 40px;
        }
        footer{
            margin: 10px 20px 0;
            .navbar2{
                a{
                    font-size: medium;
                }
            }
            #cajaContacto{
                .datosContacto{
                    padding-left: 40px;
                    font-size: medium;
                }
                .redes{
                    padding-right: 40px;
                    h2{
                        font-size: 1.2rem;
                    }
                }
            }
            #baseFooter{
                display: flex;
                .logoBajo{
                    margin-left: 40px;
                }
                .copyRight{
                    padding: 40px;
                }
            }
        }
    }
        

/*pc lg*/
    @media screen and (min-width: 992px){
        header{
            width: $width95;
            height: 550px;

            .cabecera{
                width: $width95;
                height: 550px;
            }
            .cabeceraTexto{
                height: 90px;
                margin-top: 460px;
                line-height: 0.5em;

                h2{
                    font-size: 2em;
                }
                a{
                    font-size: 1.5em;
                }
            }
            .container-fluid{
                padding-top: 80px; 
             }
             .navbar img{
                 height: 95px;
                 margin: 20px 1em;
             }
             .offcanvas{
                 width: 350px;
                 .offcanvas-body{
                    margin-top: 50px; 
                 }
             }
             .nav-item a{
                 font-size: larger;
             }
        }
        
        #header2{
            width: $width95;
            height: 100px;
            margin-top: 10px;

            .navbar img{
                height: 95px;
                margin: 20px 1em;
            }
            .offcanvas{
                width: 350px;
            }
            .nav-item a{
                font-size: larger;
            }
        }

        main{
            #grillaPrincipal{ 
                width: $width95;
                .proyectos .card{
                    height: 450px;
                    img{
                        height: 260px;
                    }
                }
                .galeria{
                    .grillaSub2{
                        height: 670px;
                        margin: 20px 20px;
                        grid-template-columns: 24% 24% 24% 24%;
                        grid-template-rows: 210px 210px 210px;
                    }
                }
            }
        }
        .intro{
            width: 85%;
            margin-top: 60px;
            h1{
                font-size: large;
            }
            p{
                font-size: medium;
            }
        }
        #proyectoInicial{
            .card-body{
                height: 360px;
                img{
                    height: 300px;
                    padding-left: 40px;
                }
                p{
                    padding-left: 330px;
                }
            }
        }
        #proyectosSecundarios{
                width: 97%;
                margin: $marginAuto;
                .card-body{
                    height: 280px;
                }
        }
        #fotos{
            grid-template-rows: 400px 400px 400px 400px;
        }
        #blog{
            margin-top: 40px;

            .entrada img{
                width: 60%;
                margin: 20px 20%;
            }
        }
        .nosotros{
            margin-top: 50px;
        }
        
        
        footer{
            margin: 10px 40px 0;
            display: flex;
            #cajaContacto{
                .datosContacto{
                    width: 80%;
                    padding-left: 20px;
                    font-size: medium;
                }
                .redes{
                    text-align: left;
                    padding-right: 20px;
                    h2{
                        font-size: 1.2rem;
                    }
                }
            }
            #baseFooter{
                display: flex;
                .logoBajo{
                    margin: 30px 0;
                    width: 180px;
                }
                .copyRight{
                    width: 60%;
                    padding: 40px 20px 0 0;
                    text-align: left;
                }
            }
        } 
    }   
