
@import "_variables.scss";

#header2{
    height: 80px;
    background-image: none;
    width: 92%;
    margin: auto;

    .navbar{
        position: relative;
        z-index: 50;
        height: 50px;

        img{
            z-index: 55;
            height: 50px;
        }
    }
    .nav-item a{
        text-align: right;
        margin-right: 10px;
        color: $amarillo;
        text-decoration: none;
        font-family: $fuente2;
        font-weight: bolder;
        font-size: small;
    }

}

#blog{
    width: 92%;
    height: auto;
    margin: auto;
    background-color: $verde;
    padding: 20px;

    h2{
        font-family: $fuente1;
        color: $azulOscuro;
        text-align: center;
    }
    h5{
        font-family: $fuente2;
        color: $azulOscuro;
        text-align: center;
    }

    .entrada{
        width: 95%;
        margin: auto;
        color: $blanco;
        font-family: $fuente2;
        text-align: justify;

    }

    img{
         width: 100%;
    }
}

.nosotros{
    color: $blanco;
    font-family: $fuente2;
    width: 92%;
    margin: auto;

    strong{
        color: $amarillo;
    }
}

footer{
    margin: 20px 0 30px;

    .navbar2{
        width: 90%;
        margin: 10px auto;
        font-family: $fuente1;
        ul{
            list-style-type: none;
            display: flex;
            padding: 0;
        }
        a{
            color: $blanco;
            text-decoration: none;
            font-family: $fuente1;
            font-size: medium;
            padding-right: 10px;
            text-align: left;
        }
    }
    .contacto{
        width: 90%;
        margin: 10px auto;
        font-family: $fuente1;
        text-align: justify;
    }
    .redes{
        width: 90%;
        margin: 10px auto;
        font-family: $fuente1;
    }
    h2{
        color: $amarillo;
        font-size: 1em;
    }
    a,
    p{
        color: $blanco;
        text-decoration: none;
        font-size: small;
    }
}

/*tablet md*/
@media screen and (min-width: 768px){
    #header2{
        height: 90px;

        .navbar img{
            height: 70px;
            margin: 10px 1em
        }
        .offcanvas{
            width: 200px;
        }
        .nav-item a{
            font-size: medium;
        }
    }
    #blog{
        margin-top: 20px;
    }
    #cajaContacto{
        display: flex;
        margin-top: 20px;

        .navbar2{
            width: 10%;
            margin-top: 0;

            ul{
                list-style-type: none;
                display: inline;
                padding: 0;
            }
        }
        .contacto{
            width: 43%;
            margin: 0;
        }
        .redes{
            width: 25%;
            margin-top: 0;
        }
        h2{
            font-size: 1.2em;
        } 
        a,
        p{
            font-size: medium;
        }
    }
}

/*pc lg*/
@media screen and (min-width: 992px){
    #header2{
        height: 100px;
        margin-top: 40px;

        .navbar img{
            height: 95px;
            margin: 20px 1em;
        }
        .offcanvas{
            width: 350px;
        }
        .nav-item a{
            font-size: larger;
        }
    }
    #blog{
        margin-top: 10px;

        img{
            height: 350px;
            width: fit-content;
            margin: 0 27%;
        }
    }
    #cajaContacto{
        h2{
            font-size: 1.5em;
        } 
        a,
        p{
            font-size: medium;
        }
    }
}